.TodoItem {
  width: 100%;
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
}
.contentFlex {
  display: flex;
  gap: 10px;
}
.checked {
  display: flex;
  text-decoration: line-through;
  color: red;
}
.content {
  width: 60%;
  margin: 0 20px;
  text-align: center;
}
