.App {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  position: relative;
}
.todoList {
  width: 500px;
  height: 500px;
  background-color: #f7f6f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 30px;
  overflow: hidden;
  overflow-y: scroll;
}
